.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  max-width: 1600px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  color: black;
  font-family: 'Rubik', sans-serif;
}

.review-box {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 20px 20px;
  margin-bottom: 30px;
}

.review-buttons {
  display: flex;
  justify-content: space-around;
}

.review-buttons button {
  display: flex;
  cursor: pointer;
  line-height: 16px;
  border-radius: 500px;
  padding: 2px 12px;
  height: 36px;
  background-color: #EEEEEE;
  align-items: center;
}