.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  max-width: 1600px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
}

.review-box {
  width: 325px;
  display: grid;
  grid-template-rows: 1fr 20px 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  margin-bottom: 30px;
  cursor: pointer;
}

.review-buttons {
  display: flex;
  justify-content: space-evenly;
}
