.update-modal {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.update-h2 {
  text-align: center;
}

.update-review-button {
  background: black;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  min-height: 56px;
  line-height: 24px;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  font-family: 'Rubik', sans-serif;
  align-items: center;
  margin: 10px auto;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-textarea {
  max-width: 290px;
  min-width: 260px;
  min-height: 50px;
  max-height: 640px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
  transition: background-color 2s ease;
}

.review-textarea:focus {
  background-color: #ededed;
}
