.new-restaurant-form {
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
}

.new-restaurant-h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.new-restaurant-label {
  display: block;
  margin-left: 10px;
  font-family: 'Rubik', sans-serif;
}

.new-restaurant-input {
  width: 100%;
  padding: 4px;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  
}

.new-restaurant-select {
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
}

option {
  font-family: 'Rubik', sans-serif;
}

.new-restaurant-submit {
  background: black;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  min-height: 56px;
  line-height: 24px;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  font-family: 'Rubik', sans-serif;
  align-items: center;
  margin: 20px auto;
}